@font-face {
    font-family: Lato;
    src: url("../assets/fonts/Lato/Lato-Bold.ttf");
  }
  
  * {
    font-family: "Lato", sans-serif;  
  }
  
  .menu-header-bg {
    height: 180px;
    width: 350px;
    background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
  }
  
  .header-content {
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;
  
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      border: 7px solid #5e7ccc;
    }
  
    h2 {
      font-weight: 300;
      color: white;      
    }
  
    p {
      font-size: 12px;
      color: #e4e4e4;
      font-weight: 100;
      letter-spacing: 0.4px;
    }
  }
  
  .action-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
    ion-button {
      text-transform: capitalize;
      font-weight: 300;
      --background: linear-gradient(90deg, rgba(43,90,148,1) 0%, rgba(45,112,229,1) 35%, rgba(45,112,229,1) 100%);
      --border-radius: 7px;
      --box-shadow: none;
    }
  
    ion-icon {
      margin-right: 1px;
    }
  }
  
  .menu-items {
    margin: 0px;
  
    ion-icon {
      margin-right: 10px;
      color: #86979f;
    }
  
    ion-item {
      padding-left: 20px;
      margin-bottom: 10px;    
    }
  }
    