<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button menu="main-menu" autoHide="true">
        <ion-icon color="custom" name="apps"></ion-icon
      ></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="bordered" fill="solid" color="light">
        <ion-icon color="custom" name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="../../../assets/images/martin.jpg" />
    </ion-avatar>
    <ion-label>
      <p>Hola,</p>
      <h3>Martín Francisconi</h3>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <div class="slides ion-margin-bottom">
    <ion-slides [options]="slidesOptions">
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="../../../assets/images/semaforo.png"/>                            
            </div>            
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom">Semáforo en Rojo</ion-card-title>
            <ion-card-subtitle class="ion-text-right"
              >10/50</ion-card-subtitle
            >
            <ion-progress-bar value="0.5" color="custom"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="../../../assets/images/velocimetro.png"/>              
            </div>           
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom"
              >Velocidad Excesiva</ion-card-title
            >
            <ion-card-subtitle class="ion-text-right"
              >25/50</ion-card-subtitle
            >
            <ion-progress-bar value="0.4" color="warning"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div class="main">
              <img src="../../../assets/images/papel.png"/>              
            </div>           
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <ion-card-title class="ion-margin-bottom"
              >Falta Documentación</ion-card-title
            >
            <ion-card-subtitle class="ion-text-right"
              >15/50</ion-card-subtitle
            >
            <ion-progress-bar value="0.4" color="warning"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="container">
    <h2>Últimas Actas</h2>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <img src="../../../assets/images/semaforo.png"/>
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>Semáforo en Rojo</h4>
              <h6>Peugeot 408 - Dominio: AB123QE</h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <img src="../../../assets/images/velocimetro.png"/>              
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>Velocidad Excesiva</h4>
              <h6>VW Saveiro - Dominio: AA352CD</h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <img src="../../../assets/images/papel.png"/>              
            </ion-button>
          </ion-col>
          <ion-col size="7">
            <ion-label>
              <h4>Falta Documentación</h4>
              <h6>Ford Focus - Dominio: AB522EE</h6>
            </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="danger">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button><ion-icon color="primary" name="camera"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon color="primary" name="document"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4" offset="4">
          <ion-img src="../assets/images/logo-muni-white.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>